<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>chatGPT- OpenAI</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style> 
    h3 {
      position: relative;
      top: 18px;
      text-align: center;
    }

    #prompt {
      position: relative;
      top: 20px;
      width: 94%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: vertical;
      overflow: auto;
    }

    button {
      position: relative;
      top: 2px;
      width: 60px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      color: blue;
      font-size: 16px;
    }
  </style>

  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="text/babel">
    class App extends React.Component {

      constructor(props) {
        super(props)
        this.state = {
          btndisabled: true,
          inputvalue: ""
        }
      }

      render() {
        return (
         <div>

          <h3>
              ChatGPT人工智慧 - 精通各國語言並知天下事
          </h3>

          <textarea 
            value={this.state.inputvalue} 
            onChange={this.handleChange}
            onKeyPress = {this.handleKeyPress}
            id="prompt" rows="24" cols="1" resizeable="true">
          </textarea>

          <button 
            onClick = {this.submitInput}  id="btn" 
            disabled = {this.state.btndisabled ? true : false}>
            <i className="fas fa-paper-plane"></i>
           </button>

          </div>
        );
      }
       
      handleKeyPress = (e) => {
        this.setState({
              btndisabled: false
           })
      }

      handleChange = (e) => {
        this.setState({
          inputvalue: e.target.value
        })
      }

      submitInput = async () => {
        const prompt = document.querySelector("#prompt");
        const promptValue = this.state.inputvalue+"\r\n"+"\r\n";  

        this.setState({
          btneabled: false,
          inputvalue: ""
        })

        let interval1 = setInterval(() => {
          this.setState(state => ({
             inputvalue: state.inputvalue + "."
           }))

          if (this.state.inputvalue === "....") {
            this.setState({
              inputvalue: ""
            })
          }
        }, 200)
    
        let res = await fetch("/chatGPT", {
            method: 'POST', 
                  headers: {
                     'Content-Type': 'application/json'
                    },
                  body: JSON.stringify({ prompt: promptValue })
                  })

        let answer = await res.json();
        let answerText = answer["answer"];

        clearInterval(interval1);


        this.setState({
          inputvalue: ""
        })
        let finalText = promptValue + answerText;

        let index = 0;

        let interval2 = setInterval(() => {
             if (index < finalText.length) {
              this.setState(state => ({
                inputvalue: state.inputvalue+finalText.charAt(index)
              }))
              index++
             } else {
              clearInterval(interval2)
             }  
        }, 20)
      }
    }

    ReactDOM.render(<App/>, document.querySelector("#app"))
  </script>  

</body>
</html>