<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>chatGPT- OpenAI</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style> 
    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    #prompt {
      position: relative;
      top: 20px;
      width: 94%;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: vertical;
      overflow: auto;
    }

    button {
      position: relative;
      top: 2px;
      width: 60px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      color: blue;
      font-size: 16px;
    }

  </style>

</head>

<body>
  <h2>ChatGPT-3.5 Artificial Intelligence</h2>
  <div id="app">
    <div id="chat-container"></div>
    <form>
      <!---input type="text" placeholder="Ask Question..." name="prompt" id="prompt"--->
      <textarea id="prompt" rows="4" cols="1" resizeable="true"></textarea>
      <button id="btn"><i class="fas fa-paper-plane"></i></button>
    </form>
  </div>
  <script src="/js/chatgpt.js"></script>
</body>

</html>
